APP_NAME="Estoque SaaS"
APP_ENV="local"
APP_DEBUG=true

API_PREFIX="/api/v1"

SUPABASE_URL="https://SEU-PROJETO.supabase.co"
SUPABASE_ANON_KEY="sua_anon_key"
SUPABASE_SERVICE_ROLE_KEY="sua_service_role_key"
SUPABASE_JWT_AUDIENCE="authenticated"

FRONTEND_URL="http://localhost:3000"

ASAAS_BASE_URL="https://api-sandbox.asaas.com/v3"
ASAAS_API_KEY="sua_chave_sandbox_asaas"
ASAAS_WEBHOOK_TOKEN="troque_esse_token"